<h1>Mijn foto's</h1>
<div class="container">
    {{#with noneFound}}
    <h2>Er zijn geen foto's gevonden! Voeg ze snel toe hieronder!</h2>
    {{/with}}

    <div class="images">
        {{#each images}}
        <figure>
            <img src="{{src}}" alt="{{alt}}">
            <figcaption>
                {{caption}}
            </figcaption>

            <form action="/delete-image/{{filename}}" method="POST">
                <input type="submit" value="Verwijder">
            </form>

        </figure>
        {{/each}}
    </div>

    <form enctype="multipart/form-data" action="/upload-image" method="POST">
        <fieldset>
            <legend>Upload jouw afbeelding</legend>
            <label>
                Jouw afbeelding
                <input type="file" name="image">
            </label>
            <label>
                Wat staat er op de foto (alt text):
                <input type="text" name="alt">
            </label>
            <label>
                Caption voor de foto:
                <input type="text" name="caption">
            </label>
            <input type="submit" value="Versturen">
        </fieldset>
    </form>

    <section data-upload-image-form>
    </section>
</div>